#navbar {
  text-align: center;
  position:fixed;
  top:0;
  left:0;
  background-color: rgb(108, 99, 99);
  height: 50px;
  padding: 0.5em;
  margin:0;
  z-index: 100;
  min-width: 100%;
}

li {
  list-style: none;
  display: inline;
  margin-right: 40px;
  font-size: 200%;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

.main-content {
  font-size: 150%;
  padding-top: 30px;
}

.port1 img {
  max-width: 200px;
  height: auto;
}

#Cinema img {
  max-width:800px;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  display:block;
}

h4 {
  text-decoration: underline;
  font-size: 120%;
}

.imp {
  font-weight: bold;
}

.flex-container {
  display:flex;
  width: 1000px;
  height: 1000px;
  flex-direction: row;
}

.flex-container img {
  width: 350px;
  height: auto;
}

h2 {
  text-decoration: underline;
  padding-top: 50px;
  font-size: 200%;
}
